# --- DEPS & BUILD ---
node_modules/
dist/
build/
.env
.env.local

# --- OS & SYSTEM ---
.DS_Store
Thumbs.db
desktop.ini
*.log

# --- IDEs & EDITORS ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- ASSETS & CACHE ---
.sass-cache/
*.pyc
__pycache__/